*
# white list

# configs
!.editorconfig
!.gitattributes
!.gitignore
!.python-version
!Makefile
!README.md
!poetry.lock
!pyproject.toml

# App
!app.py
!app/
!app/__init__.py


# templates
!app/templates/
!app/templates/includes/
!app/templates/includes/menu.html
!app/templates/menu/
!app/templates/menu/about.html
!app/templates/menu/help.html
!app/templates/menu/historical_data.html
!app/templates/menu/results_interpretation.html
!app/templates/menu/rotem_parameters.html
!app/templates/menu/rotem_tests.html
!app/templates/menu/useful_links.html
!app/templates/menu/video_instructions_smth.html
!app/templates/menu/video_instructions_work.html
!app/templates/base.html
!app/templates/index.html

# routes
!app/views/
!app/views/menu.py
!app/views/routes.py
