*
# white list

# configs
!.editorconfig
!.gitattributes
!.gitignore
!.jshintrc
!.python-version
!Makefile
!README.md
!poetry.lock
!Procfile
!pyproject.toml

# App
!app.py
!app/
!app/__init__.py
!app/menu.py

# API news
!app/news/
!app/news/__init__.py

# App settings
!app/settings/
!app/settings/base.py

# static css
!app/static
!app/static/css
!app/static/css/errors.css
!app/static/css/forms.css
!app/static/css/layout.css
!app/static/css/menu.css
!app/static/css/news.css
!app/static/css/styles.css
# static imgages
!app/static/images/
!app/static/images/bg-bottom.png
!app/static/images/bg-top.png
!app/static/images/rotem_delta.jpg
!app/static/images/rotem_tests_basic_extem.jpg
!app/static/images/rotem_tests_basic_intem.jpg
!app/static/images/rotem_tests_diff_aptem_extem.jpg
!app/static/images/rotem_tests_diff_aptem.jpg
!app/static/images/rotem_tests_diff_fibtem_extem.jpg
!app/static/images/rotem_tests_diff_fibtem.jpg
!app/static/images/rotem_tests_diff_heptem_intem.jpg
!app/static/images/rotem_tests_diff_heptem.jpg
!app/static/images/rotem_tests_top.png
!app/static/images/werfen.png
#static js
!app/static/js
!app/static/js/script.js

# Templates
!app/templates/

!app/templates/errors/
!app/templates/errors/400.html
!app/templates/errors/404.html
!app/templates/errors/500.html
!app/templates/errors/base_errors.html

!app/templates/includes/
!app/templates/includes/footer.html
!app/templates/includes/header.html
!app/templates/includes/menu.html

!app/templates/menu/
!app/templates/menu/_base.html
!app/templates/menu/about.html
!app/templates/menu/help.html
!app/templates/menu/historical_data.html
!app/templates/menu/results_interpretation.html
!app/templates/menu/tests.html
!app/templates/menu/useful_links.html
!app/templates/menu/video_instructions.html

!app/templates/base.html
!app/templates/index.html

# Routes
!app/views/
!app/views/errors.py
!app/views/menu.py
!app/views/routes.py
