{% extends 'menu/_base.html' %}

{% block content %}
    <div class="menu__page__content">
        <div class="menu__page__title">
            <h1>Тромбоэластометр ROTEM delta</h1>
        </div>
        <div class="menu__about__description-brand">
            <img src="{{ url_for('static', filename='images/werfen.png') }}" alt>
        </div>
        <div class="menu__about__description-img">
            <img src="{{ url_for('static', filename='images/rotem_delta.jpg') }}" alt="">
        </div>
        <div class="menu__about__description-body">
            <p>
                Принцип технологии ROTEM – измерение вискоэластичных свойств формирующегося 
                сгустка путем ротационной тромбоэластометрии.
                Тромбоэластометрия позволяет качественно и количественно оценить вязкость, 
                прочность и эластичность сгустка цельной крови, скорость его образования и последующего лизиса.
            </p>

            <p class="menu__about__spec-title">Технические характеристики</p>
            <div class="table">
                <div class="row width-3 center">
                    <div class="cell">Тип анализатора</div>
                    <div class="cell">Настольный, автоматический анализатор гемостаза тромбоэластометр четырехканальный</div>
                </div>
                <div class="row width-3 center">
                    <div class="cell">Принципы измерения</div>
                    <div class="cell">Ротационная тромбоэластометрия</div>
                </div>
                <div class="row width-3 center">
                    <div class="cell">Количество независимых измерительных каналов в одном приборе</div>
                    <div class="cell">4 шт</div>
                </div>
                <div class="row width-3 center">
                    <div class="cell">Объем образца</div>
                    <div class="cell">300 мкл</div>
                </div>
                <div class="row width-3 center">
                    <div class="cell">Проба</div>
                    <div class="cell">Цитратная кровь, цельная кровь</div>
                </div>
                <div class="row width-3 center">
                    <div class="cell">Основные измеряемые параметры</div>
                    <div class="cell">Активация коагуляции и полимеризация сгустка</div>
                </div>
                <div class="row width-3 center">
                    <div class="cell">Ввод образца</div>
                    <div class="cell">Автоматическая пипетка</div>
                </div>
                <div class="row width-3 center">
                    <div class="cell">Типы тестов  и алгоритм</div>
                    <div class="cell">
                        <ol>
                            <li>EXTEM (активация внешнего пути свертывания крови) </li>
                            <li>INTEM (активация внутреннего пути свертывания крови)</li>
                            <li>HEPTEM (тест с гепариназой)</li>
                            <li>FIBTEM (тест на функциональный фибриноген)</li>
                            <li>APTEM (тест на гиперфибринолиз)</li>
                            <li>NATEM (тест без активации свертывания реагентами)</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
