{% extends 'menu/_base.html' %}

{% block title %}
{{ super() }} (ТЭГ/Rotem)
{% endblock %}

{% block content %}
<div class="menu__page__content">
    <h1>РОТАЦИОННАЯ ТРОМБОЭЛАСТОМЕТРИЯ (ROTEM)</h1>
    <article>
        <section>
            В современной гемостазиологии существует достаточно большое количество функциональных,
            морфологических, иммунологических и генетических методик и их модификаций.
            Однако возникает вопрос о необходимом и достаточном наборе лабораторных тестов,
            позволяющих адекватно оценить состояние системы гемостаза с целью диагностики наиболее
            распространенных видов патологии, первичного обследования пациентов и формирования групп риска.
            Причем эти исследования должны быть надежными и одновременно доступными.
        </section>
        <section>
            Определение показателей, характеризующих гемостаз, имеет большое значение в диагностике различных
            заболеваний: сердечно-сосудистых, акушерских, генетической патологии, системных заболеваний, патологий
            системы крови и др. Кроме этого, данным тестам отводится важное место в профилактике осложнений в
            процессе и после оперативных вмешательств, что обуславливает широкое применение данных исследований в
            практической медицине.
        </section>

        <section>
            В современных условиях, назначая лабораторные исследования для оценки системы гемостаза,
            врач планирует решить следующие задачи:
            <ul>
                <li><b>Прогностическую</b> (оценка вероятности тромбоза или кровотечения)</li>
                <li><b>Диагностическую</b> (выяснение причины развившегося тромбоза или начавшегося кровотечения)</li>
                <li><b>Терапевтическую</b> (контроль антитромболитической терапии)</li>
            </ul>
        </section>
        <section>
            Для решения этих задач в настоящее время чаще всего используют лабораторные тесты,
            которые традиционно объединены термином «коагулограмма». Основой коагулограммы являются
            клотинговые <i>(от англ. <b>clot.</b> – сгусток)</i> исследования, принцип которых состоит в
            фиксировании времени образования сгустка после добавления к цитратной безтромбоцитарной плазме
            ионов кальция и активаторов коагуляции.
        </section>
        <section>
            К наиболее распространенным клотинговым тестам относится <b><i>протромбиновое время</i> (ПТВ)</b> со своими
            производными – <b><i>протромбиновым индексом</i> (ПТИ)</b> и <b><i>международным нормализированным отношением</i>(МНО)</b>,
            а также активированное частичное <b><i>тромбопластиновое время</i> (АЧТВ)</b>. Принципиальным недостатком
            лабораторных исследований этой группы методов является тот факт, что они оценивают только начальный
            этап образования сгустка и останавливаются при появлении первых нитей фибрина, что соответствует
            наработке количества тромбина, составляющего менее 1% от его общего cсодержания. Кроме того,
            клотинговые тесты не дают информации о динамике образования и качестве фибринового сгустка, а также
            не оценивают функциональную активность тромбоцитов и состояние фибринолитической системы.
            Существенными недостатками стандартных гемостазиологических методов также является высокая чувствительность
            к дефектам преаналитического этапа и условиям аналитического процесса, а также низкая стандартизация реагентов.
        </section>
        <h2>История метода тромбоэластографии</h2>
        <section>
            Тромбоэластография (TEG) впервые была описана немецким профессором Хартнером в 1948 г.
            В клини-ческую практику метод был введен исследователем Кан-гом в США спустя 25 лет во время операции
            по <a href="#note-1" id="ref-1">трансплантации печени</a>. Ротационная тромбоэластография (ROTEG) является усовершенствованной и
            переработан-ной формой классической тромбоэластографии и была основана Калатзизом и Фритзше <a href="#note-2" id="ref-2">в 1996 г.</a>.
            Ранее метод назывался ротационной тромбоэластографией (ROTEG), а в 2003 г. был переименован в ротационную
            тромбоэла-стометрию (ROTEM).
        </section>
        <section>
            Данный метод основан на графической регистрации изменений вязкости и упруго-эластических свойств крови в
            процессе образования фибринового сгустка. Тромбоэластограмма, в отличие от классических клотинговых
            исследований, отображает кинетику всех стадий формирования тромба, а также <a href="#note-3" id="ref-3">фибринолиз</a>.
        </section>
        <section>
            В 1996 г. термин «тромбоэластография» был зарегистрирован в качестве торговой марки компанией
            <b><i>Haemoscope Corporation</i></b>, и с этого времени применяется для описания анализа, выполненного на приборах
            Haemoscope. Альтернативные приборы, производимые фирмой <b><i>Pentapharm GmbH</i></b>, называются тромбоэластометрами,
            а сам процесс измерения – <b><i>ротационная тромбоэластометрия</i></b>.
        </section>
        <section>
            <h2>Принцип технологии ROTEM</h2>
            Принцип технологии <b>ROTEM</b> – измерение вискоэластичных свойств формирующегося сгустка путем ротационной тромбоэластометрии.
            <br><br>
            <img src="{{ url_for('static', filename='images/historical_data__printsip_tehnologii_rotem_delta.jpg') }}" alt>
        </section>
        <section>
            Тромбоэластометрия позволяет качественно и количественно оценить вязкость, прочность и эластичность сгустка цельной крови, скорость его образования и последующего лизиса.
        </section>
        <section>
            <h2>Параметры анализов ROTEM</h2>
            <img src="{{ url_for('static', filename='images/historical_data__parametry_analizov_rotem_1.jpg') }}" alt>
            <img src="{{ url_for('static', filename='images/historical_data__parametry_analizov_rotem_2.jpg') }}" alt>
        </section>
        <section class="article__footer">
            <ol>
                <li id="note-1">
                    <a href="#ref-1">↩</a>
                    Intraoperative changes in blood coagulation and thrombelastographic monitoring in liver
                    transplantation / Y. Kang [et al.] // J. Anesthesia and Analgesia. – 1985. – Vol. 64. – P. 888– 896.
                </li>
                <li id="note-2">
                    <a href="#ref-2">↩</a>
                    Thrombelastographic coagulation monitoring during cardiovascular surgery with the ROTEG coagulation
                    analyzer / A. Calatzis [et al.] // J. Hanley & Belfus. – 2000. – P. 215–226.
                </li>
                <li id="note-3">
                    <a href="#ref-3">↩</a>
                    Blutgerinnungsstudien mit der Thrombelastographie, einem neuen Untersuchungs verfahren / H. Hartert [et al.]
                    // J. Klin Wochenschrift. – 1948. – Vol. 26. – P. 577–583.
                </li>
            </ol>
        </section>
    </article>
</div>
{% endblock %}
