{% extends 'menu/_base.html' %}

{% block content %}
{{ super() }}
<div class="menu__page__content">

    <h1>Тесты ROTEM® delta</h1>

    <div class="menu__tests__top">
        <div class="menu__tests__top-wrapper">
            <div>
                <strong>Базовые тесты ROTEM</strong>
                <ul>
                    <li>INTEM</li>
                    <li>EXTEM</li>
                </ul>
            </div>
            <div>
                <strong>Дифференцирующие тесты ROTEM</strong>
                <ul>
                    <li>FIBTEM</li>
                    <li>HEPTEM</li>
                    <li>APTEM</li>
                </ul>
            </div>
        </div>
        <div class="menu__tests__top-wrapper">
            <div class="menu__tests__top-title">
                <div>Внутренний путь</div>
                <div>Внешний путь</div>
            </div>
            <img src="{{ url_for('static', filename='images/rotem_tests_top.png') }}" alt>
        </div>
    </div>

    <h2>Базовые тесты</h2>

    <div class="table">
        <div class="row">
            <div class="cell">EXTEM (s)</div>
        </div>
        <div class="row width-3">
            <div class="cell">Реагенты Rotem®</div>
            <div class="cell">Активатор</div>
            <div class="cell">Рекальцинатор</div>
        </div>
        <div class="row width-3">
            <div class="cell">Жидкие реагенты</div>
            <div class="cell">ex-TEM®</div>
            <div class="cell">star-TEM®</div>
        </div>
        <div class="row width-2">
            <div class="cell">Реагент для однократного применения</div>
            <div class="cell">EXTEM S</div>
            <div class="cell"></div>
        </div>
        <div class="row width-1">
            <div class="cell">Принцип:</div>
            <div class="cell">умеренная внешняя активация свёртывания</div>
        </div>
        <div class="row width-1">
            <div class="cell">Область применения:</div>
            <div class="cell">
                <ul>
                    <li>
                        Почти совершенно не чувствимый к гепарину общий анализ свёртывания 
                        <b>(не применяется к EXTEM S!</b>
                    </li>
                    <li>В соединении с FIBTEM и APTEM <span>(смотрите ниже)</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-title width-equal">Чувствительность к</div>
            <div class="cell cell__color-title width-equal">наиболее подверженные влиянию параметры ROTEM®</div>
        </div>
        <div class="row">
            <div class="cell width-equal">
                <ul class="list">
                    <li>Дефицит фактора <span>(внешний путь)</span></li>
                    <li>Участие тромбоцитов в уплотнении сгустка</li>
                    <li>Полимеризация фибрина <span>(и концентрация фибриногена)</span></li>
                    <li>Гиперфибринолиз</li>
                    <li>(F-XIII-Дефицит)</li>
                </ul>
            </div>
            <div class="cell width-equal">
                <ul class="list">
                    <li>CT</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>ML, LI(x)</li>
                    <li>MCF, A(x), ML, LI(x)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Ограничения:</b>
                <ul>
                    <li>Не очень чувствителен к слабому дефициту факторов свёртывания</li>
                    <li>Не чувствителен к дефектам певичного гемостаза <span>(агрегация тромбоцитов)</span></li>
                    <li>Может по-прежнему оставаться в норме когда INR <span>
                        (Международный нормированный коэффициент)</span> повышен в ряду INR &lt;3-4
                    </li>
                    <li>Может показать патолгические значения вследствие очень высоких уровней гепарина</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <img src="{{ url_for('static', filename='images/rotem_tests_basic_extem.jpg') }} " alt>
            </div>
        </div>
    </div>

    <div class="table">
        <div class="row">
            <div class="cell">INTEM (s)</div>
        </div>
        <div class="row width-3">
            <div class="cell">Реагенты Rotem®</div>
            <div class="cell">Активатор</div>
            <div class="cell">Рекальцинатор</div>
        </div>
        <div class="row width-3">
            <div class="cell">Жидкие реагенты</div>
            <div class="cell">in-TEM®</div>
            <div class="cell">star-TEM®</div>
        </div>
        <div class="row width-2">
            <div class="cell">Реагент для однократного применения</div>
            <div class="cell">INTEM S</div>
            <div class="cell"></div>
        </div>
        <div class="row width-1">
            <div class="cell">Принцип:</div>
            <div class="cell">умеренная внутренняя активация свёртывания</div>
        </div>
        <div class="row width-1">
            <div class="cell">Область применения:</div>
            <div class="cell">общий анализ коагуляции в комбинации с HEPTEM <span>(смотрите ниже)</span></div>
        </div>
        <div class="row">
            <div class="cell cell__color-title width-equal">Чувствительность к</div>
            <div class="cell cell__color-title width-equal">наиболее подверженные влиянию параметры ROTEM®</div>
        </div>
        <div class="row">
            <div class="cell width-equal">
                <ul class="list">
                    <li>Дефицит фактора <span>(внутренний путь)</span></li>
                    <li>Действия антикоагулянтов <span>(например, гепарин, ингибиторы тромбина)</span></li>
                    <li>Участие тромбоцитов в уплотнении сгустка</li>
                    <li>Полимеризация фибрина <span>(и концентрация фибриногена)</span></li>
                    <li>Гиперфибринолиз</li>
                    <li>(F-XIII-Дефицит)</li>
                </ul>
            </div>
            <div class="cell width-equal">
                <ul class="list">
                    <li>CT</li>
                    <li>CT</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>ML, LI(x)</li>
                    <li>MCF, A(x), ML, LI(x)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Ограничения:</b>
                <ul>
                    <li>Не очень чувствителен к слабому дефициту факторов свёртывания</li>
                    <li>Не чувствителен к дефектам певичного гемостаза <span>(агрегация тромбоцитов)</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <img src="{{ url_for('static', filename='images/rotem_tests_basic_intem.jpg') }} " alt>
            </div>
        </div>
    </div>

    <h2>Дифференцирующие тесты</h2>
    <div class="table">
        <div class="row">
            <div class="cell">FIBTEM (s)</div>
        </div>
        <div class="row width-3">
            <div class="cell">Реагенты Rotem®</div>
            <div class="cell">Активатор</div>
            <div class="cell">Ингибитор тромбоцитов и Рекальцинатор</div>
        </div>
        <div class="row width-3">
            <div class="cell">Жидкие реагенты</div>
            <div class="cell">ex-TEM®</div>
            <div class="cell">fib-TEM®</div>
        </div>
        <div class="row width-2">
            <div class="cell">Реагент для однократного применения</div>
            <div class="cell">FIBTEM S</div>
            <div class="cell"></div>
        </div>
        <div class="row width-1">
            <div class="cell">Принцип:</div>
            <div class="cell">
                умеренная внешняя активация свёртывания в присутствии 
                ингибитора тромбоцита (цитохалазин D). ТЕМограмма 
                представляет только долю фибрина в сгустке
            </div>
        </div>
        <div class="row width-1">
            <div class="cell">Область применения:</div>
            <div class="cell">
                <ul>
                    <li>Выявление дефицита фибрина и нарушений полимеризации фибрина</li>
                    <li>В сравнении с EXTEM: косвенная оценка компонента тромбоцита в коагуляции</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-title width-equal">Чувствительность к</div>
            <div class="cell cell__color-title width-equal">наиболее подверженные влиянию параметры ROTEM®</div>
        </div>
        <div class="row">
            <div class="cell width-equal">
                <ul class="list">
                    <li>Полимеризация фибрина <span>(и концентрация фибриногена)</span></li>
                    <li>Гиперфибринолиз</li>
                    <li>(F-XIII-Дефицит)</li>
                </ul>
            </div>
            <div class="cell width-equal">
                <ul class="list">
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>ML, LI(x)</li>
                    <li>MCF, A(x), ML, LI(x)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Ограничения:</b>
                <ul>
                    <li>Может быть подвежен влиянию очень высоких уровней гепарина.</li>
                    <li>FIBTEM представляет только компонент фибрина сгустка.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Примечание:</b><br>
                По сравнению с измерением только числа тромбоцитов или концентрации фибриногена, 
                система Rotem® выявляет/определяет способность компонентов фибрина и клеточных 
                компонентов образовывать стабильный сгусток. Плотность сгустка FIBTEM, как правило, 
                связана с концентрацией фибриногена. Тем не менее, нарушение полимеризации 
                фибрина может быть обнаружено и дать патологический результат, несмотря на довольно 
                высокую концентрацию фибриногена в образце.
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <img src="{{ url_for('static', filename='images/rotem_tests_diff_fibtem.jpg') }} " alt>
                <img src="{{ url_for('static', filename='images/rotem_tests_diff_fibtem_extem.jpg') }} " alt>
            </div>
        </div>
    </div>

    <div class="table">
        <div class="row">
            <div class="cell">HEPTEM (s)</div>
        </div>
        <div class="row width-3">
            <div class="cell">Реагенты Rotem®</div>
            <div class="cell">Активатор</div>
            <div class="cell">Рекальцинатор</div>
        </div>
        <div class="row width-3">
            <div class="cell">Жидкие реагенты</div>
            <div class="cell">in-TEM®</div>
            <div class="cell">hep-TEM®</div>
        </div>
        <div class="row width-2">
            <div class="cell">Реагент для однократного применения</div>
            <div class="cell">HEPTEM S</div>
            <div class="cell"></div>
        </div>
        <div class="row width-1">
            <div class="cell">Принцип:</div>
            <div class="cell">
                умеренная внутренняя активация свёртывания в присутствии 
                гепарин-ингибирующего фермента (гепариназа l)
            </div>
        </div>
        <div class="row width-1">
            <div class="cell">Область применения:</div>
            <div class="cell">
                <ul>
                    <li>общий анализ свёртывания после устранения воздействия гепарина</li>
                    <li>в сравнении с INTEM: качественный анализ на присутствие гепарина</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-title width-equal">Чувствительность к</div>
            <div class="cell cell__color-title width-equal">наиболее подверженные влиянию параметры ROTEM®</div>
        </div>
        <div class="row">
            <div class="cell width-equal">
                <ul class="list">
                    <li>Дефицит фактора <span>(внутренний путь)</span></li>
                    <li>Ингибиторы тромбина<span>(не гепарин!)</span></li>
                    <li>Участие тромбоцитов в уплотнении сгустка</li>
                    <li>Полимеризация фибрина <span>(и концентрация фибриногена)</span></li>
                    <li>Гиперфибринолиз</li>
                    <li>(F-XIII-Дефицит)</li>
                </ul>
            </div>
            <div class="cell width-equal">
                <ul class="list">
                    <li>CT</li>
                    <li>CT</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>ML, LI(x)</li>
                    <li>MCF, A(x), ML, LI(x)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Ограничения:</b><br>
                <ul>
                    <li>Не очень чувствителен к слабому дефициту факторов свёртывания</li>
                    <li>Не чувствителен к дефектам певичного гемостаза <span>(агрегация тромбоцитов)</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Примечание:</b><br>
                Комбинация INTEM и HEPTEM подтверждает наличие гепарина в образце. 
                Она показывает также изменения в потенциале свёртывания крови при устранении эффекта гепарина.
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <img src="{{ url_for('static', filename='images/rotem_tests_diff_heptem.jpg') }} " alt>
                <img src="{{ url_for('static', filename='images/rotem_tests_diff_heptem_intem.jpg') }} " alt>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <div>
                    Пролонгирование CT теста INTEM значительно сокращено в тесте HEPTEM <span>(до нормального значения)</span>.
                    Также параметры CFT, A(x) и MCF возвращаются к нормальным значениям. 
                    Следовательно, образец содедржит гепарин.
                </div>
            </div>
        </div>
    </div>

    <div class="table">
        <div class="row">
            <div class="cell">APTEM (s)</div>
        </div>
        <div class="row width-3">
            <div class="cell">Реагенты Rotem®</div>
            <div class="cell">Активатор</div>
            <div class="cell">Ингибитор фибринолиза и Рекальцинатор</div>
        </div>
        <div class="row width-3">
            <div class="cell">Жидкие реагенты</div>
            <div class="cell">ex-TEM®</div>
            <div class="cell">ap-TEM®</div>
        </div>
        <div class="row width-2">
            <div class="cell">Реагент для однократного применения</div>
            <div class="cell">APTEM S</div>
            <div class="cell"></div>
        </div>
        <div class="row width-1">
            <div class="cell">Принцип:</div>
            <div class="cell">умеренная внешняя активация свёртывания в присутствии ингибитора фибринолиза (апротинин)</div>
        </div>
        <div class="row width-1">
            <div class="cell">Область применения:</div>
            <div class="cell">
                <ul>
                    <li>Подтверждение гиперфибринолиза в сравнении с EXTEM</li>
                    <li>Прогнозирующая оценка ситуации свёртывания после лечения антифибринолитическими препаратами</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-title width-equal">Чувствительность к</div>
            <div class="cell cell__color-title width-equal">наиболее подверженные влиянию параметры ROTEM®</div>
        </div>
        <div class="row">
            <div class="cell width-equal">
                <ul class="list">
                    <li>Дефицит фактора <span>(внешний путь)</span></li>
                    <li>Участие тромбоцитов в уплотнении сгустка</li>
                    <li>Полимеризация фибрина <span>(и концентрация фибриногена)</span></li>
                    <li>(F-XIII-Дефицит)</li>
                </ul>
            </div>
            <div class="cell width-equal">
                <ul class="list">
                    <li>CT</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>MCF, A(x), (CFT, a)</li>
                    <li>MCF, A(x), ML, LI(x)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Примечание:</b>
                <div><br>
                    Если в APTEM отсутсвует типичная для EXTEM (как и для INTEM) модель гиперфибринолиза 
                    (веретенообразная форма, полный лизис плотности сгустка), значит, гиперфибринолиз подтверждён. 
                    Результат APTEM представляет <i>In vitro</i> ситуацию коагуляции крови пациента после 
                    возможного лечения антифибринолитическими препаратами. До известной степени 
                    APTEM способен определять <i>In vitro</i>, восстановит ли терапия антифибринолитическими препаратами 
                    систему коагуляции крови пациента, или требуется дальнейшее лечение.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <b>Ограничения:</b><br>
                смотрите EXTEM
            </div>
        </div>
        <div class="row">
            <div class="cell cell__color-body">
                <img src="{{ url_for('static', filename='images/rotem_tests_diff_aptem.jpg') }} " alt>
                <img src="{{ url_for('static', filename='images/rotem_tests_diff_aptem_extem.jpg') }} " alt>
            </div>
        </div>
    </div>

</div>
{% endblock %}
