/* Forms */

.form-contact {
  margin: 2em 1em 1em 1em;
  padding: 1em;
  border-radius: 4px;
  background-color: #f1dff0;
  display: none;
}

.form-contact p {
  font-family: monospace;
  font-style: oblique;
  margin: 15px 0 15px 0;
}

.form-contact legend {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1.5em;
}

.form-contact label {
  display: inline-block;
  display: -moz-inline-block;
  width: 80px;
}

.form-contact input:nth-child(even) {
  margin-right: 3em;
}

.form-contact input[type=text] {
  width: 10%;
}

.form-contact input[type=submit] {
  font-family: "Times New Roman", Georgia, Serif;
  padding: 5px 15px;
  font-size: 1em;
}

.results_interpretation__categories {
  display: flex;
  justify-content: center;
}

.results_interpretation__categories input[type=submit] {
  margin: 2em;
  width: 10em;
  height: 4em;
  border-radius: 5px;
  border-color:#B64297;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1em;
}

.results_interpretation__categories input[type=submit]:hover {
  background-color:#F1DFF0;
}

.results_interpretation__categories input[type=submit]:active {
  background-color:#B64297;
}

.results_interpretation__categories input[type=submit]:focus {
  background-color:#B64297;
}

/* Flash Messages */

.flash {
  padding: 10px;
  text-align: center;
}

.flash.success {
  border: 1px solid #21db56;
  background: #aeffc5;
}

.flash.error {
  border: 1px solid #ff4343;
  background: #ff9c9c;
}
