@import url('menu.css');
@import url('tables.css');
@import url('errors.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

h1 {
  margin: .7em;
  text-align: center;
}

/* Common Wrapper */

.container {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    125deg,
    rgba(106, 137, 204, .96),
    rgba(184, 201, 148, .96)
    ), url(../images/health_medicine_background_news.jpg);
}

/* Header */

header {
  position: fixed;
  height:50px;
  width:100%;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  background: aliceblue;
  background-image: url(../images/bg-top.png);
  background-repeat: repeat-x;
  background-position: top center;
}

header div {
  text-align: left;
  font-size: 3em;
}

header div p {
  font-family: 'Rubik One', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #293133;
  background: linear-gradient(45deg, #0B2349 33%, #b64297 66%, #d19ac2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header a {
    text-decoration: none;
}

header a:hover {
  color: #9E147A;
}

/* BreadCrumb */

.breadcrumb {
  margin-left: 10%;
  margin-bottom: 3em;
}

.breadcrumb a {
  text-decoration: none;
  text-transform: capitalize;
  mix-blend-mode: difference;
}

.breadcrumb a:hover {
  text-decoration: underline;
  text-shadow: #F3E1EC 1px 0 10px;
}

/* Content */

.content {
  top: 100px;
  margin-bottom: 120px;
  margin-left: 20%;
  transition: 0.5s;
  position: relative;
  z-index: 0;
}

.content__active {
  transform: translateX(10%);
}

/* Footer */

footer {
  height:50px;
  width:100%;
  margin-top: auto;
  padding: 15px;
  background: aliceblue;
  background-image: url(../images/bg-bottom.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}

footer p {
  color: gray;
  padding-right: 2em;
  text-align: right;
}

.top {
  position: fixed;
  bottom: 18px;
  right: 30px;
  opacity: 0;
  background-color: #b64297;
  color: aliceblue;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
}

/* Scroll To Top Button */

.top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 0.6;
  transform: translateY(-55px);
}

.top:hover {
  opacity: 1;
}
