/* Left Menu */

.menu {
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 99;
  width: 30%;
  height: 70vh;
  border-radius: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transform: translateX(-100%);
  background-image: linear-gradient(125deg, #9E147A, #b8c994), url(../images/rotem_delta.jpg);
}

.menu__active {
  top: 80px;
  transform: translateX(-10%);
  box-shadow: 10px 10px 10px rgb(102, 101, 101);
}

.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
  row-gap: 30px;
}

.menu__list a {
  color: #293133;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.menu__list a:hover {
  transition-duration: 0.3s;
  text-shadow: 10px 10px 10px rgb(102, 101, 101);
  color: #ffcf48;  
}

/* Menu Item */

.menu__page__content {
  width: 60%;
  height: auto;
  margin-left: 10%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgb(102, 101, 101);
}

.menu__page__content h1 {
  margin-top: 2em;
  font-size: 130%;
}

.menu__page__content h2 {
  margin-top: 2em;
  text-align: center;
}

.menu__page__title {
  margin-bottom: 30px;
}

/* Menu Icon */

.menu__btn {
  width: 30px;
  height: 30px;
  border-radius: 1px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: -45px;
  top: 20px;
}

.menu__btn__active {
  transform: translateX(-55px);
}

/* Animated Menu Icon */

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: peachpuff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu__btn__active:hover .bar1, .bar3 {
  background-color: #f7c43a;
}

/* Menu About */

.menu__about__description-brand {
  margin-bottom: 10px;
}

.menu__about__description-img {
  margin-bottom: 10px;
}

.menu__about__description-body {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
}

.menu__about__description-body p:first-child {
  margin: 1em;
  text-indent: 1em;
}

.menu__about__spec-title {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

/* Menu Tests */

.menu__tests__top {
  margin: 2em;
  display: flex;
  justify-content: space-around;
}

.menu__tests__top-wrapper {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu__tests__top-wrapper ul li {
  margin: 0.3em;
  padding: 0.2em;
  font-weight: bold;
}

.menu__tests__top-wrapper:first-child div:first-child ul li:first-child {
  background-color: #80B7DE;
}

.menu__tests__top-wrapper:first-child div:first-child ul li:last-child {
  background-color: #FFABA9;
}

.menu__tests__top-wrapper:first-child div:last-child ul li:first-child {
  background-color: #913612;
}

.menu__tests__top-wrapper:first-child div:last-child ul li:nth-child(2) {
  background-color: gray;
}

.menu__tests__top-wrapper:first-child div:last-child ul li:last-child {
  background-color: #B697D0;
}

.menu__tests__top-wrapper strong {
  white-space: nowrap;
}

.menu__tests__top-wrapper span {
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: grey;
  font-weight: 600;
}

.menu__tests__top-wrapper img {
  max-width: 80%;
  height: auto;
}

.menu__tests__top-title {
  display: flex;
}

/* Menu Historical Data */

article {
  padding: 0 2em 1em 2em;
  counter-reset: footnotes;
}

article h2 {
  text-align: center;
  margin-bottom: .5em;
}

article section {
  text-indent: 1em;
  margin-bottom: 1em;
}

article section img:nth-child(even) {
  margin-left: 3em;
}

article section img:nth-child(odd) {
  width: 99%;
}

article section.article__footer {
  border-top: 1px solid silver;
  font-size: 80%;
}

[id^="ref"] {
  counter-increment: footnotes;
  text-decoration: none;
}

[id^="ref"]:after {
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 60%;
  margin-left: .1em;
}

[href^="#ref"] {
  text-decoration: none;
}

[id^="note"]:target,
[id^="ref"]:target {
  background: LightBlue;
}

/* Menu Rusult Interpretation */

.menu__results_interpretation-wrapper {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
}

.menu__results_interpretation-wrapper img {
  max-width: 100%;
  height: auto;
}