/* Articlies */
@import url("https://fonts.googleapis.com/css2?&family=Luxurious+Roman&family=Mochiy+Pop+P+One&display=swap");

.news {
  display: grid;
  row-gap: 2em;
}

.news__item {
  width: 70%;
  background: aliceblue;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgb(102, 101, 101);
}

.news__title {
  font-family: "Mochiy Pop P One", sans-serif;
  color: black;
  padding: 1em;
  font-weight: normal;
  font-size: 20px;
}

.news__lead {
  font-family: "Luxurious Roman", cursive;
  margin: 0;
  padding: 2em;
  padding-top: 0;
}

.news__item img {
  max-width: 90%;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.news__item a {
  text-decoration: none;
}
