<!DOCTYPE html>
<html class="page" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block title %}
    <title>Rotem</title>
    {% endblock %}

</head>

<body>
    <div>
        en/ru (right)
    </div>
    <div class="container">
        {% block content %}
        <div class="menu">
            {% include 'includes/menu.html' %}
        </div>
        {% endblock %}
    </div>
</body>

</html>
