menu (left)
    <ul>
        <li><a href="{{ url_for('about_view') }}">Rotem information</a></li>
        <li><a href="{{ url_for('rotem_tests_view') }}">Rotem test details</a></li>
        <li><a href="{{ url_for('historical_data_view') }}">Historical data (ТЭГ/Rotem)</a></li>
        <li><a href="{{ url_for('rotem_parameters_view') }}">Rotem parameters</a></li>
        <li>
            <select name="" id="">
                <option disabled selected>Video instructions</option>
                <option value=""><a href="#">5.1. Work</a></option>
                <option value=""><a href="#">5.2. smth (?)</a></option>
            </select>
        </li>
        <li><a href="{{ url_for('results_interpretation_view') }}">Interpretation of results</a></li>
        <li><a href="{{ url_for('help_view') }}">Help service</a></li>
        <li><a href="{{ url_for('useful_links_view') }}">Useful links</a></li>
    </ul>

current news (work area)
<br>
en/ru (right)