{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <article class="news">
    {% for article in articles %}
        <section class="news__item">
            <h2 class="news__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <a href="{{ article.url }}"><img src="{{ article.urlToImage }}" alt></a>
            <p class="news__lead">{{ article.description }}</p>
        </section>
    {% endfor %}
    </article>
{% endblock %}
